.Header{
    width: 100%;
    height: 60px;
    background: #034078;
    display: flex;
    justify-content: space-around;
    position: fixed;
}
.LogoHold{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LogoHold h3{
    color: white;
}
.Navbar{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Navbar nav {
    cursor: pointer;
    color: white;
}
.Hero{
    width: 100%;
    height: 90vh;
    background: #0A192F;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 10%;
}
.HoldContainer{
    width: 70%;
    height: 70%;
}
.Text{
    width: 70%;
    height: 10%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: red; */
}
.HeadlineName{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* background: purple; */
}
.Text p{
    color: #7ae582;
    font-size: 20px;
}
.HeadlineName h2{
    font-size: 4.5rem;
    color: lightblue;
}
.HeadlineName h4{
    font-size: 3rem;
    color: lightgray;
}
.HeadlineName p{
   color: lightgray;
}
.BtnContainer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.BtnContainer button{
    width: 20%;
    height: 80%;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid #7ae582;
    color: #7ae582;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
}
.AboutHero{
    width: 100%;
    height: 87vh;
    background: #0A192F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.AboutHeader{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.AboutHeader h2{
    font-size: 2rem;
    color: lightgray;
}
.line{
    width: 10%;
    height: 5%;
    border: 2px solid lightgrey;
}
.AboutWrapper{
    width: 90%;
    height: 90%;
    /* background: #000; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Aboutcontainer{
    width: 40%;
    height: 90%;
    /* background: pink; */
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
}
.AboutImage{
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AboutImage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.AboutHeadline{
    width: 100%;
    height: 40%;
}
.AboutHeadline h2{
    font-size: 2.3rem;
    color: lightblue;
}
.waving {
    animation: wave-animation 1s infinite;
    display: inline-block; /* Ensure inline-block for transform to work */
  }
  
  @keyframes wave-animation {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(50deg);
    }
  }
  .AboutContext{
    width: 100%;
    height: 80%;
    /* background: pink; */
   display: flex;
   align-items: center;
   padding: 1% 1%;
  }
  .AboutContext p{
    color: lightgray;
    font-weight: 600;
  }
  .SkillsHold{
    width: 100%;
    height: 80vh;
    background: #0A192F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .SkillsHeader{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .SkillsHeader h2{
    font-size: 2rem;
    color: lightgray;
  }
  .SkillsWrapper{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .SkillsCard{
    width: 21%;
    height: 40%;
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .SkillsCard img{
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
  .SkillsCard h3{
    color: lightgrey;
  }
  
  .Menu{
    display: none;
  }

@media screen and (max-width: 800px) {

  .Hero{
    /* background: #000; */
    height: 100vh;
  }
  .HoldContainer{
    width: 100%;
    /* background: pink; */
    height: 75vh;
  }
  .Text{
    width: 100%;
  }
 .HeadlineName{
    width: 100%;
    /* background: orangered; */
 }
 .HeadlineName h2{
    font-size: 4rem;
 }
 .HeadlineName h4{
    font-size: 3rem;
 }
 .HeadlineName p{
    font-size: 14px;
 }
 .BtnContainer{
  width: 100%;
  /* background: lightsalmon; */
 }
 .BtnContainer button{
  width: 30%;
  height: 60%;
 }
 .AboutHero{
  /* background: #000; */
  height: 100vh;
 }
 .AboutWrapper{
  /* flex-direction: column; */
  /* background: salmon; */
  height: 100%;
 }
 .Aboutcontainer{
  /* background: pink; */
  width: 100%;
 }
 .AboutHeadline{
  width: 80%;
  /* background: purple; */
 }
 .AboutHeadline h2{
  font-size: 1.6rem;
 }
 .AboutContext{
  width: 80%;
  height: 85%;
  /* background: pink; */
 }
 .AboutContext p{
  font-size: 14px;
 }
 .AboutImage{
 display: block;
 /* background: #000; */
width: 70%;
 }
 .AboutImage img{
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 .line{
  width: 40%;
 }
}

 @media screen and (max-width: 600px) {
  .Navbar{
    background: #000;
    display: none;
}
.Menu{
    width: 20%;
    height: 100%;
    /* background: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu{
    font-size: 25px;
  }
  .NavHold{
    display: block;
    background: #0A192F;
    position: absolute;
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    top: 50px;
    color: #FAFAFA;
    padding-inline: 10px;
  }
  .NavHold nav{
    cursor: pointer;
  }
  .Hero{
    /* background: #000; */
    height: 100vh;
  }
  .HoldContainer{
    width: 100%;
    /* background: pink; */
    height: 25rem;
  }
  .Text{
    width: 100%;
  }
 .HeadlineName{
    width: 100%;
    /* background: orangered; */
    
 }
 .HeadlineName h2{
    font-size: 2.3rem;
 }
 .HeadlineName h4{
    font-size: 1.8rem;
 }
 .HeadlineName p{
    font-size: 12.5px;
 }
 .BtnContainer{
  width: 100%;
  /* background: lightsalmon; */
  justify-content: flex-start;
 }
 .BtnContainer button{
  width: 60%;
  height: 60%;
 }
 .AboutHero{
  /* background: #000; */
  height: 100vh;
 }
 .AboutWrapper{
  flex-direction: column;
  /* background: salmon; */
  height: 100%;
 }
 .Aboutcontainer{
  /* background: pink; */
  width: 100%;
 }
 .AboutHeadline{
  width: 95%;
  /* background: purple; */
 }
 .AboutHeadline h2{
  font-size: 1.8rem;
 }
 .AboutContext{
  width: 95%;
  height: 90%;
  /* background: pink; */
 }
 .AboutContext p{
  font-size: 12px;
 }
 .AboutImage{
  display: none;
 }
 .line{
  width: 40%;
 }
 }

 @media screen and (max-width:400px) {
  .Navbar{
    background: #000;
    display: none;
}
.Menu{
    width: 20%;
    height: 100%;
    /* background: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu{
    font-size: 25px;
  }
  .NavHold{
    display: block;
    background: #0A192F;
    position: absolute;
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    top: 50px;
    color: #FAFAFA;
    padding-inline: 10px;
  }
  .NavHold nav{
    cursor: pointer;
  }
  .Hero{
    /* background: #000; */
    height: 100vh;
  }
  .HoldContainer{
    width: 100%;
    /* background: pink; */
    height: 75vh;
  }
  .Text{
    width: 100%;
  }
 .HeadlineName{
    width: 100%;
    /* background: orangered; */
 }
 .HeadlineName h2{
    font-size: 2.7rem;
 }
 .HeadlineName h4{
    font-size: 1rem;
 }
 .HeadlineName p{
    font-size: 12px;
 }
 .BtnContainer{
  width: 100%;
  /* background: lightsalmon; */
  justify-content: flex-start;
 }
 .BtnContainer button{
  width: 70%;
  height: 60%;
 }
 .AboutHero{
  /* background: #000; */
  height: 100vh;
 }
 .AboutWrapper{
  flex-direction: column;
  /* background: salmon; */
  height: 100%;
 }
 .Aboutcontainer{
  /* background: pink; */
  width: 100%;
 }
 .AboutHeadline{
  width: 90%;
  /* background: purple; */
 }
 .AboutHeadline h2{
  font-size: 1.6rem;
 }
 .AboutContext{
  width: 90%;
  height: 90%;
  /* background: pink; */
 }
 .AboutContext p{
  font-size: 12px;
 }
 .AboutImage{
  display: none;
 }
 .line{
  width: 40%;
 }
 }

  @media screen and (max-width :320px) {
    .Navbar{
        background: #000;
        display: none;
    }
    .Menu{
        width: 20%;
        height: 100%;
        /* background: pink; */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .menu{
        font-size: 25px;
      }
      .NavHold{
        display: block;
        background: #0A192F;
        position: absolute;
        height: 15rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        top: 50px;
        color: #FAFAFA;
        padding-inline: 10px;
      }
      .NavHold nav{
        cursor: pointer;
      }
      .Hero{
        /* background: #000; */
        height: 100vh;
      }
      .HoldContainer{
        width: 100%;
        /* background: pink; */
        height: 75vh;
      }
      .Text{
        width: 100%;
      }
     .HeadlineName{
        width: 100%;
        /* background: orangered; */
     }
     .HeadlineName h2{
        font-size: 2.7rem;
     }
     .HeadlineName h4{
        font-size: 1rem;
     }
     .HeadlineName p{
        font-size: 12px;
     }
     .BtnContainer{
      width: 100%;
      /* background: lightsalmon; */
      justify-content: center;
     }
     .BtnContainer button{
      width: 70%;
      height: 60%;
     }
     .AboutHero{
      /* background: #000; */
      height: 100vh;
     }
     .AboutWrapper{
      flex-direction: column;
      /* background: salmon; */
      height: 100%;
     }
     .Aboutcontainer{
      /* background: pink; */
      width: 100%;
     }
     .AboutHeadline{
      width: 90%;
      /* background: purple; */
     }
     .AboutHeadline h2{
      font-size: 1.4rem;
     }
     .AboutContext{
      width: 90%;
      height: 90%;
      /* background: pink; */
     }
     .AboutContext p{
      font-size: 9.5px;
     }
     .AboutImage{
      /* background: blue; */
      height: 40%;
      display: block;
     }
     .line{
      width: 40%;
     }
     .SkillsWrapper{
      width: 100%;
      justify-content: space-around;
     }
    
    
  }
  